
body{
    box-sizing: border-box;

}
h1{
    color: rgb(96, 93, 93);
    font-family:'Julius Sans One', sans-serif;
   
}
#av{
    color: white;
    background-color: black;
    opacity: 80%;
}
h2{
    text-decoration: underline;
    color: rgb(0, 0, 0);
    font-family:'Julius Sans One', sans-serif;
}
div {
     /* border: 2px solid black;  */
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-family:'Julius Sans One', sans-serif;
    /* margin-bottom: 50px; */

}


ol{
    list-style: none;
}

p{
    font-size: 25px;
    font-family:'Julius Sans One', sans-serif;
    /* position:relative; */

}
a{
    color: white;
    position:relative;
    text-align: center;
    margin-right: 5px;
    font-family:'Julius Sans One', sans-serif;
    font-size: 17px;
    text-decoration: none;
}

button{
    background-color: rgb(0, 8, 8);
    border-radius: 30px;
    margin: 0 auto;

  

}
/* button:hover{
    background-color: rgb(94, 94, 247);
    
} */

button a {
    color:black
}
.fn{
    /* display: flex;
    background-color: rgb(168, 231, 210);
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
    padding-bottom: 5px;
    background-image: url(img/ojodecerati.jpg);
    background-repeat: no-repeat;background-size: cover;
    height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: space-evenly;
  */
    
}  

.sing{
    margin-top: 30px;
}
.av{
    /* display: flex;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
    background-image: url(img/ahiVamos.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 100px);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
    
}


.seh{
  /*   display:flex;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
    /* background-image: url(img/frente-seh.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* height: calc(100vh - 100px); */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
 
}

.seh h1{
 color: rgb(96, 93, 93);
}
.fn p{
    color: white ;
}

.radius{
    border-radius: 100px;
}
nav{
    font-family:'Julius Sans One', sans-serif;
}

.parrafoah{
    color: rgb(96, 93, 93);
}
.colorfn{
    color: white ;
}